*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     
}

body{
    background:  #222;
}
.card .search  img{
    height: 30px;
    width: 30px;


   
}
.search{
    display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;

}
.search input{
    border:0;
    outline: 0;
    background:#ebfffc;
    color:#555;
    padding:10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1; /*flex is a property used for providing equal distribution  flex:1 1 0%;*/
    margin-right: 16px;
    font-size: 18px;


}

.card{
    width: 90%;
    max-width:470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 65px auto 0;
    border-radius: 20px;
    padding: 40px 35px;


}
.search button{
    border:0;
    outline: 0;
    background: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.weather {
    display: flex;
   justify-content: space-between;
   align-items: center;
    flex-direction: column;
}
.weather-icon{
   width: 170px;
    margin-top: 30px;

}
.weather #temp{
    font-size: 50px;
    font-weight: 100;
    margin-top:-10px;

}
.weather h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
   
    
}

.details{
    display: flex;
    align-items: center;
   
   padding: 0 20px;
    margin-top: 50px;
    gap:70px
 }
 #wind1{
    margin-top: -10px;
 }
 .col{
    display: flex;
    align-items: center;
    text-align: left;
 }
.col img{
    width: 40px;
    margin-right: 10px;
}
#humidity,#wind{
    font-size: 25px;
    margin-top:-6px
}
.weather{
    display:none;
}

#h1,#h3{
    color: white;
  display: flex;
  justify-content: center;
  margin-top: 10px;
text-align: center;

}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 20px ;
    margin-top:10px;
    display: none;
}
